body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.background-container {
  /* background-image: url('image1.jpg'); */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.translucent-box {
  background-color: rgba(0, 0, 0, 0.7); /* Adjust the alpha value for transparency */
  border-radius: 15px;
  padding: 20px;
  max-width: 80%;
  width: 600px;
  box-sizing: border-box;
}

header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6); /* Separation line */
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px; /* Adjust based on your logo size */
  margin-right: 10px;
}

.logo h1 {
  color: white;
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 5px;
  margin: 0px;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.description-box h2 {
  color: white;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.description-box p {
  color: white;
  font-size: 1.1em;
  line-height: 1.6;
}

/* For bleeding text in mobile devices */
@media screen and (max-width: 768px) {
  .translucent-box {
    max-width: 90%; /* Adjust the maximum width for smaller screens */
  }

  .description-box {
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .description-box p {
    font-size: 3vw; /* Set font size as 3% of the viewport width for better scalability */
  }
}


/*  Icon Footer  */

.footer {
  background-color: #333; /* Footer background color */
  padding: 20px;
  text-align: center;
}

.social-icons {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social-icons li {
  display: inline-block;
  margin: 0 10px;
}

.icon {
  width: 30px; /* Adjust the icon size */
  fill: white; /* Icon color */
}

a {
  text-decoration: none;
}
